<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slovo miskine</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div style="position: relative;">
        <h1 style="font-family: 'Parisienne', cursive; font-size: 48px; padding-bottom: 40px;">Mne nevadi, že dychas</h1>
        <p style="font-family: 'Parisienne', cursive; font-size: 24px; position: absolute; bottom: 0; right: 0;"> - Miška 22.1.2022</p>
    </div>
</body>
</html>