@-webkit-keyframes loading {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 85% 5%;
}
body header {
  color: white;
  background-color: dodgerblue;
  font-family: "Roboto", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
}
body header img {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  margin-right: 15px;
}
body header img:hover {
  cursor: pointer;
}
body main {
  position: relative;
  display: flex;
  justify-content: center;
}
body main .group-id-wrapper {
  display: none;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}
body main .chat-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 50%;
  overflow-y: scroll;
}
@media screen and (max-width: 420px) {
  body main .chat-container {
    width: 100%;
  }
}
body main .chat-container .chat-form {
  position: absolute;
  bottom: 0;
  width: 30%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 420px) {
  body main .chat-container .chat-form {
    width: 100%;
  }
}
body main .chat-container .chat-form input {
  width: 80%;
  margin-right: 5px;
  height: 25px;
}
body main .chat-container .chat-window {
  width: 90%;
}
body main .chat-container .chat-window .chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
body main .chat-container .chat-window .chat-list .my-message {
  align-self: flex-end;
  border: 2px solid dodgerblue;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 10px;
}
body main .chat-container .chat-window .chat-list .other-user-message {
  align-self: flex-start;
  border: 2px solid red;
  border-radius: 15px;
  padding: 5px 10px;
  margin-left: 10px;
}
body main .chat-container .chat-window .chat-list li {
  margin: 5px;
  max-width: 200px;
  word-wrap: normal;
}
body main .no-other-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
body main .no-other-user .loader-outside {
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-top: 3px solid transparent;
  border-left: 3px solid dodgerblue;
  border-right: 3px solid dodgerblue;
  border-bottom: 3px solid dodgerblue;
}
body footer {
  color: white;
  background-color: dodgerblue;
  font-family: "Roboto", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=index.css.map */